
 <ion-view >

         <div style="width:100%; height:100%;">
             <img style="width:100%;height:100%;" ng-src="img/welcome@{{myImgSize}}x.png" />
             <div class="row font-28 popup_bottom_menu" style="min-height:1.2rem;padding:0;bottom:0;text-align:center;width:100%;">
                 <div ng-click="register();" class="col col-50" style="margin:0rem;background: #fc3942;">
                     <span style="color: #ffffff;line-height:1.2rem;">注册</span>
                 </div>
                 <div ng-click="login();" class="col col-50" style="margin:0rem;background: #ffffff;" >
                     <span style="color: #494949;line-height:1.2rem;">登录</span>
                 </div>
             </div>
             <div ng-click="goLook()" class="font-28" 	style="z-index:999;width:100%;text-align:center;height:1.44rem; position:fixed;bottom:1.6rem;color:#ffffff;">
                 先看一看&nbsp;&nbsp;<i class="icon ion-chevron-right"></i>
             </div>
         </div>


 </ion-view>
