 <ion-refresher
    pulling-text="下拉刷新..."
    refreshing-text = "请求中..."
    on-refresh="doRefresh()">
  </ion-refresher>
 <ion-list rj-close-back-drop class="">
   <ion-item class="item-avatar" ng-class="{'rj-item-top': message.isTop}" on-hold="popupMessageOpthins(message)" rj-hold-active ng-repeat="message in messages | orderBy:['isTop', 'lastMessage.timeFrome1970']:true" ng-click="">
       <img ng-src="{{message.pic}}">
       
       <h3 class="title-content" ng-bind="message.name"></h3>
       
       <p class="rj-list-p" ng-bind="message.lastMessage.content"></p>
       <span class="rj-push-right" ng-bind="message.lastMessage.time"></span>
   </ion-item>
</ion-list> 
    	
