<ion-modal-view style="background: rgba(0,0,0,.70);">
    
    <ion-content style="text-align:center;background: rgba(0,0,0,.0);">
      <div style="width:6.32rem;height:2.4rem;margin-top:60%;margin-left:1.84rem;">

	<div ng-click="createNewInfo('juan')" style="line-height:0.5rem;padding-top:0.75rem;text-align:center;width:2.4rem;height:2.4rem;background:#f3434b;border-radius:2.4rem; float:left;">
		<div style="color:#fff;font-size:0.48rem;line-height:0.48rem;">我要</div>
		<div style="color:#fff;font-size:0.48rem;line-height:0.48rem;">捐助</div>
	</div>
	<div style="width:1.52rem;height:1.52rem;background: rgba(0,0,0,.0);border-radius:1.333rem; float:left;"></div>
	<div ng-click="createNewInfo('qiu')" style="line-height:0.5rem;padding-top:0.75rem;text-align:center;width:2.4rem;height:2.4rem;background:#ffddb7;border-radius:2.4rem; float:right;">
		<div style="color:#cc812d;font-size:0.48rem;line-height:0.48rem;">我要</div>
		<div style="color:#cc812d;font-size:0.48rem;line-height:0.48rem;">求捐</div>
	</div>	
	
</div>  

    </ion-content>
    <div id="div_home_create_choice">
    	<img ng-src="img/home_create_close@{{myImgSize}}x.png"  ng-click="closeModal()"/>
    </div>
  </ion-modal-view>
 