

<div style="background: #ffffff;text-align:center;height:100%;width:100%;border-radius:5px;padding:0;">
 <img ng-src="img/confirm_need@{{myImgSize}}x.png" width="40%" height="40%" style="margin-top:8.8%;"/>
 <div style="background: #ffffff;.text-align:center;height:40%;width:100%;margin-top:4%;">
 	<span class="font-32"  style="color: #494949;margin-bottom:%4;">是否确认申请？</span>
 	<p class="font-22"  style="color: #b7b7b7;width:70%;margin:0 auto;">最多同时只能进行三个捐助请谨慎申请</p>
 </div>
 <div class="row font-24 popup-buttons popup_bottom_menu vertical-container" style="min-height:1.2rem;padding:0;bottom:0;text-align:center;height:20%;width:100%;border-bottom-radius:5px;">
 	<div ng-click="cancelNeed();" class="col col-50" style="border-top:solid 1px #ededed;border-bottom-left-radius:5px;margin:0rem;background: #ffffff;"><span style="color: #b7b7b7;line-height: 1.2rem;">取消</span></div>
 	<div ng-click="goToNeed();" class="col col-50" style="border-top:solid 1px #ededed;border-bottom-right-radius:5px;margin:0rem;background: #fc3942;" ><span style="color: #ffffff;line-height: 1.2rem;">确认申请</span></div>
</div>
</div>
