<!-- 
File-Name:
Date:
Author:
Function:
-->
<ion-header-bar align-title="center" class="bar bar-afu">
	  <a  class="button icon ion-chevron-left btBorder" ng-click="goBack()"></a>
      <h1 class="title">关于阿福</h1>
    </ion-header-bar>
<ion-view >
    <ion-content style="text-align:center;">
	    	
	 <div class="" style="margin-top:2.533rem;margin-left:0 auto;margin-right:0 auto;">
		 <img ng-src="img/about_logo@{{myImgSize}}x.png" style="width:3.625rem;height:2.5rem;" />
	 	<p class="font-24" style="color:#8d8d8d;">V1.0</p>
	 	<p class="font-28" style="color:#494949;margin-top:0.8267rem;">安全的线上物品捐赠平台</p>
	 </div>
	 
    </ion-content>
	
</ion-view>

