<!-- 
File-Name:certification-example.html
Date:2016-08-05
Author:WangYong
Function:图例示范
-->

<ion-header-bar align-title="center" class="bar bar-afu">
	<a  class="button icon ion-chevron-left btBorder" ng-click="closeDemoModal()"></a>
	<h1 class="title">图例示范</h1>
</ion-header-bar>


<ion-view>
	<ion-content >
		<div class="font-24" style="height:35%;padding:0.4rem;background:#ffffff;width:100%;">
			<img ng-src="img/certification_example.png" style="width:100%;height:100%;">
		</div>
		<div style="padding:0.4rem;" class="color-49">
			如图所示，拍摄一个您本人与身份证的合照，并上传。请保证身份证上的信息足够清晰，
			方便工作人员进行识别认证
		</div>
	</ion-content>

</ion-view>
