<!-- 
File-Name:login1.html
Date:2016-08-03
Author:yangxiaoyu
Function:登录的初始界面
-->
<ion-header-bar align-title="center" class="bar bar-afu">
	  <a  class="button icon ion-chevron-left btBorder" ng-click="addressModal.hide()"></a>
      <h1 class="title">信息填写</h1>
      <button class="button  btRight" ng-click="addressModal.hide();">提交</button>
    </ion-header-bar>
<ion-view>
    <ion-content class="no-header ">
        <div class="font-24" style="margin-top:1.5rem;margin-left: 0.4rem;margin-right: 0.4rem;">
		<label class="item item-input">
			<textarea class="font-28" style="border:#eee 1px;height:2rem;padding:0.2rem;"  ng-model="certificationInfo.identity_address" placeholder="请填写详细地址" cols="40" rows="5" style="resize:none"></textarea>
		</label>
	</div>
    </ion-content>
	</ion-view>

