<!-- 
File-Name:register1.html
Date:2016-08-03
Author:yangxiaoyu
Function:注册界面1
-->


	<ion-header-bar align-title="center" class="bar bar-afu">
	  <a  class="button icon ion-chevron-left btBorder" ng-click="goBack()"></a>
      <h1 class="title">注册</h1>
    </ion-header-bar>
	<ion-view>
    <ion-content>
        <div class="" style="margin:0.4rem;background:#f3f3f3;">
          <div class="item item-input-wrapper" style="padding: 1px;">
		    <label class="item item-input font-28" style="width:6.72rem;">
		      <img ng-src="img/phone@{{myImgSize}}x.png" style=""/>
		      <input class="font-28" type="number" placeholder="输入手机号" ng-model="register.phonenum" >
		    </label>	
		    <button class="button button-small button-vcode font-26" ng-click="getVcode()" ng-disabled="isVcodeDisabled">
		          	{{vcodeBtnString}}
		    </button>
		  </div>
		
			<label class="item item-input font-28" style="margin-top: 0.26667rem" >
		    	<img ng-src="img/verification@{{myImgSize}}x.png" />
		    	<input class="font-28"  type="text" maxlength="10"  placeholder="输入验证码" ng-model="register.vcode" >
		  </label>

		<button ng-click="testVcode()" class="button button-block button-red font-30" style="margin-top: 0.26667rem" ng-disabled="isVcodeNextDisabled" > 
			下一步</button>
		<div class="error-note font-20">{{error_note}}</div>
	</div>
    </ion-content>
</ion-view>
