<!-- 
File-Name:resetPassword2.html
Date:2016-08-03
Author:yangxiaoyu
Function:重置密码时当两次输入的密码不同时提示
-->

<!DOCTYPE html>
<html ng-app="">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="../../lib/flexible/build/flexible_css.debug.js"></script>
	<script src="../../lib/flexible/build/flexible.debug.js"></script>
	
	<link href="../../lib/ionic/css/ionic.css" rel="stylesheet"/>
	<script  src="../../lib/ionic/js/ionic.bundle.js"></script>
	<link href="../../css/login/login.css" rel="stylesheet" type="text/css"/>
	<meta charset="UTF-8">
	<title>重置密码2</title>
</head>
<body>
	<ion-view>
    <ion-content class="no-header">
        <div class="bar bar-header color1">
            <a  class="button btBorder icon ion-chevron-left color1"></a>
            <h1 class="title color1">重设密码</h1>
        </div>
    </ion-content>
	</ion-view>
	<br><br><br>

	<!-- 带按钮的表单 -->
	<div class="item item-input-inset">
	    <label class="item-input-wrapper formLayout phoneLength hGap1">
	      <i class="button-icon icon ion-android-phone-portrait placeholder-icon "></i>
	      <input type="text" placeholder="输入已经注册的手机号" style="padding-left: 0.187rem">
	    </label>
	    <button class="button button-small btForm">
	      获取验证码
	    </button>
	</div>
	
	<div class="list list-inset">
	  <label class="item item-input formLayout formFont font2 hGap1">
	    <i class="button-icon icon ion-android-alert placeholder-icon  "></i>
	    <input type="text"  placeholder="输入验证码" style="padding-left: 0.187rem">
	  </label>
	</div>
	
	<div class="list list-inset">
	  <label class="item item-input formLayout formFont font2 hGap1">
	    <i class="button-icon icon ion-ios-locked placeholder-icon  "></i>
	    <input type="password"  placeholder="输入新密码(6位以上)" style="padding-left: 0.187rem">
	  </label>
	</div>
	
	<div class="list list-inset">
	  <label class="item item-input formLayout formFont font2 hGap1">
	    <i class="button-icon icon ion-ios-locked placeholder-icon  "></i>
	    <input type="password"  placeholder="再次输入新密码" style="padding-left: 0.187rem">
	  </label>
	</div>
	<div class="list list-inset">
		<button class="button button-block color1 padding1 font3">
		  提交
		</button>
	</div>
	<div class="list list-inset " >
	<button class="button button-block font1 hintForm" disabled="disabled">
		两次输入的密码不同，请重新输入
		</button>
	</div>
	
</body>
</html>