
<ion-modal-view style="width:100%; height:100%;">

    <ion-content style="width:100%; height:100%;" scroll="false">
        <ion-slide-box does-continue="false" style="width:100%; height:100%;">
            <ion-slide style="height:100%;width:100%;">
                <div style="height:100%;width:100%;background:#fff;" ng-switch="deviceSize">
                    <img ng-switch-when="480_800" ng-src="img/480_800/1.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="480_854" ng-src="img/480_854/1.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="540_960" ng-src="img/540_960/1.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="640_960" ng-src="img/640_960/1.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="640_1136" ng-src="img/640_1136/1.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="720_1280" ng-src="img/720_1280/1.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="750_1334" ng-src="img/750_1334/1.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="1080_1920" ng-src="img/1080_1920/1.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="1242_2208" ng-src="img/1242_2208/1.png" style="width:100%; height:100%;"/>
                    <img ng-switch-default ng-src="img/720_1280/1.png" style="width:100%; height:100%;"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div style="height:100%;width:100%;background:#fff;" ng-switch="deviceSize">
                    <img ng-switch-when="480_800" ng-src="img/480_800/2.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="480_854" ng-src="img/480_854/2.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="540_960" ng-src="img/540_960/2.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="640_960" ng-src="img/640_960/2.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="640_1136" ng-src="img/640_1136/2.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="720_1280" ng-src="img/720_1280/2.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="750_1334" ng-src="img/750_1334/2.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="1080_1920" ng-src="img/1080_1920/2.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="1242_2208" ng-src="img/1242_2208/2.png" style="width:100%; height:100%;"/>
                    <img ng-switch-default ng-src="img/720_1280/2.png" style="width:100%; height:100%;"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div style="height:100%;width:100%;background:#fff;" ng-switch="deviceSize">
                    <img ng-switch-when="480_800" ng-src="img/480_800/3.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="480_854" ng-src="img/480_854/3.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="540_960" ng-src="img/540_960/3.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="640_960" ng-src="img/640_960/3.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="640_1136" ng-src="img/640_1136/3.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="720_1280" ng-src="img/720_1280/3.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="750_1334" ng-src="img/750_1334/3.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="1080_1920" ng-src="img/1080_1920/3.png" style="width:100%; height:100%;"/>
                    <img ng-switch-when="1242_2208" ng-src="img/1242_2208/3.png" style="width:100%; height:100%;"/>
                    <img ng-switch-default ng-src="img/720_1280/3.png" style="width:100%; height:100%;"/>
                </div>
                <div ng-click="confirmFirstIn();" style="z-index:999;width:100%;text-align:center;height:1.44rem; position:fixed;bottom:1.6rem;color:#ffffff;">

                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>

</ion-modal-view>
