
<!--
<div style="background: #ffffff;text-align:center;height:100%;width:100%;border-radius:5px;">
 <img ng-src="img/left_count@{{myImgSize}}x.png" width="40%" height="40%" style="margin-top:8.8%;"/>
 <div style="background: #ffffff;.text-align:center;height:100%;width:100%;">
 	<p class="font-32"  style="color: #494949;">您有三个未完成求助</p>
 	<p class="font-24"  style="color: #b7b7b7;">最多只能同时进行三个捐助</p>
 	<p class="font-24" style="color: #b7b7b7;">请完成后再进行申请</p>
 </div>
	<div class="row font-24 popup-buttons popup_bottom_menu vertical-container" style="min-height:1.2rem;padding:0;bottom:0;text-align:center;height:20%;width:100%;border-top:solid 1px #ededed;border-bottom-radius:5px;">
		<div ng-click="cancelAlertLeftCount();" class="col col-100" style="height:100%;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:0rem;background: #fc3942;" ><span style="color: #ffffff;line-height: 1.2rem;">知道了</span></div>
	</div>
</div>
-->
<div style="background: #ffffff;text-align:center;height:100%;width:100%;border-radius:5px;">

	<div style="background: #ffffff;.text-align:center;height:40%;width:100%;margin-top:12%;">
		<span class="font-36"  style="color: #494949;">暂时无法求助</span>
		<p class="font-24"  style="color: #b7b7b7;margin-top:4%;">可能是以下原因导致</p>
		<div class="font-26" style="color: #4a4e58;width:65%;margin:0 auto;">1.您有未签收或未填感谢信的爱心需求</div>
		<div class="font-26" style="color: #4a4e58;width:65%;margin:0 auto;margin-top:0.1rem;">2.您有求助未被回应,占用了发求助的限额数</div>
	</div>
	<div class="row font-24 popup-buttons popup_bottom_menu vertical-container" style="min-height:1.2rem;padding:0;bottom:0;text-align:center;width:100%;border-top:solid 1px #ededed;border-bottom-radius:5px;">
		<div ng-click="cancelAlertLeftCount();" class="col col-100" style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:0rem;background: #fc3942;" ><span style="color: #ffffff;line-height:1.2rem;">知道了</span></div>
	</div>
</div>