

<div style="background:#ffffff;text-align:center;height:100%;width:100%;border-radius:5px;">
	<div style="background:#ffffff;text-align:center;height:100%;width:100%;border-radius:5px;margin-top:29%;">
		 <img ng-src="img/confirm_help_surprise@{{myImgSize}}x.png" width="71%" height="56%" style="margin-top: -29%;"/>
		 <div style="min-height:5rem;background: #ffffff;text-align:center;height:50%;width:100%;border-radius:5px;margin-top:0.2rem;">
			<div class="font-44"  style="color: #494949;">已认领求助需求</div>
		    <div class="font-26"  style="color: #494949;margin-top:0.4rem;margin-bottom:0.15rem;">感谢您的热心帮助!</div>
			<div class="font-24"  style="color: #b7b7b7;line-height:0.5rem;width:62%;margin:0 auto;">
				您真是雪中送炭的好心人，阿福公益对您的热心表示由衷感谢！
				接下来还需要填写地址信息，请耐心完成~</div>

		 </div>
	</div>
	<div class="row font-24 popup-buttons" style="min-height:1.2rem;padding:0;bottom:0;text-align:center;width:100%;border-top:solid 1px #ededed;border-bottom-radius:5px;">
		<div ng-click="cancelHelpSurprise();" class="col col-100" style="height:100%;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:0rem;background: #fc3942;" ><span style="color: #ffffff;line-height: 1.2rem;">好的</span></div>
	</div>
</div>
