

<div style="background:#ffffff;text-align:center;height:100%;width:100%;border-radius:5px;">
	<div style="background:#ffffff;text-align:center;height:100%;width:100%;border-radius:5px;margin-top:29%;">
		 <img ng-src="img/confirm_receive_surprise@{{myImgSize}}x.png" width="71%" height="56%" style="margin-top: -29%;"/>
		 <div style="min-height:5rem;background: #ffffff;text-align:center;height:50%;width:100%;margin-top:0.2rem;border-radius:5px;">
			<div class="font-32"  style="color: #494949;">确认已收到爱心</div>
			 <div class="font-26"  style="color: #494949;margin-top:0.4rem;margin-bottom:0.15rem;">恭喜！您已收到爱心！</div>
			<div class="font-24"  style="color: #b7b7b7;line-height:0.5rem;width:62%;margin:0 auto;">
				爱心翻山越岭终于来到您的身边。快去给献爱心的好心人写一封感谢信吧，填写完才能够进行新的求助哦</div>

		 </div>

		<div class="row font-24 popup-buttons" style="min-height:1.2rem;padding:0;bottom:0;text-align:center;height:14%;width:100%;border-top:solid 1px #ededed;border-bottom-radius:5px;">
			<div ng-click="cancelReceiveSurprise();" class="col col-100" style="height:100%;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:0rem;background: #fc3942;" ><span style="color: #ffffff;line-height: 1.2rem;">好的</span></div>
		</div>
	</div>
</div>
