

<div style="background: #ffffff;text-align:center;height:100%;width:100%;border-radius:5px;">
 <img ng-src="img/send_thanks@{{myImgSize}}x.png" width="40%" height="40%" style="margin-top:8.8%;"/>
 <div style="background: #ffffff;.text-align:center;height:40%;width:100%;">
 	<p class="font-32"  style="color: #494949;">&nbsp</p>
 	<p class="font-32"  style="color: #494949;">收到感谢信</p>
 	<p class="font-24" style="color: #b7b7b7;">您捐助过的人给您写了感谢信，快去看看！</p>
 </div>
 <div class="row font-24 popup-buttons popup_bottom_menu vertical-container" style="min-height:1.2rem;padding:0;bottom:0;text-align:center;height:20%;width:100%;border-bottom-radius:5px;">
 	<div ng-click="cancel();" class="col col-50" style="border-top:solid 1px #ededed;border-bottom-left-radius:5px;margin:0rem;background: #ffffff;"><span style="color: #b7b7b7;line-height: 1.2rem;">稍后再看</span></div>
 	<div ng-click="confirm();" class="col col-50" style="border-top:solid 1px #ededed;border-bottom-right-radius:5px;margin:0rem;background: #fc3942;" ><span style="color: #ffffff;line-height: 1.2rem;">去看看</span></div>
</div>
</div>
